<div class="container-fluid">
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0" style="color: rgb(0,0,0);">Payments</h3>
    </div>
    <div class="row">
        <div class="col-lg-5 col-xl-4">
            <div class="card shadow">
                <div class="card-header py-3">
                    <p class="text-primary m-0 font-weight-bold">Unpaid Orders</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th class="text-nowrap">Customer</th>
                                    <th class="text-nowrap text-right">Amount Due</th>
                                    <th data-toggle="tooltip" data-bs-tooltip="" title="DD/MM/YYYY">Due Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each unpaidOrderArr}}
                                    <tr>
                                        <td>{{this.customer_name}}</td>
                                        <td class="text-right">Php {{this.total}}</td>
                                        <td class="text-nowrap">{{this.formattedDue}}{{#if this.overdue}}<i class="fa fa-warning" data-toggle="tooltip" data-bs-tooltip="" style="color: rgb(255,15,0);padding: 5px;border-style: none;" title="Overdue "></i>{{/if}}</td>
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-7 col-xl-8">
        {{#if dialog_error_msg}}
            <div class="popup-dialog-msg error shadow">
                <div class="d-flex w-100 mt-2">
                    <div class="ml-auto mr-2">
                        <button type="button" class="btn-transparent" onclick="$(this).parent().parent().parent().remove();"><span style="padding: 0rem !important; margin: 0px !important; color: gray;" class="material-icons">close</span></button>
                    </div>

                </div>
                <div class="mx-3 mb-3">
                    <h6 class=""><strong>{{{dialog_error_msg}}}</strong></h6>
                </div>
            </div>
        {{/if}}

        {{#if dialog_success_msg }}
            <div class="popup-dialog-msg success shadow">
                <div class="d-flex w-100 mt-2">
                    <div class="ml-auto mr-2">
                        <button type="button" class="btn-transparent" onclick="$(this).parent().parent().parent().remove();"><span style="padding: 0rem !important; margin: 0px !important; color: gray;" class="material-icons">close</span></button>
                    </div>

                </div>
                <div class="mx-3 mb-3">
                    <h6 class=""><strong>{{{dialog_success_msg}}}</strong></h6>
                </div>
            </div>
        {{/if}}
            <div class="card shadow mb-4">
                <div class="card-header d-flex justify-content-between align-items-center" style="padding: 16px 20px;">
                    <h6 class="text-primary font-weight-bold m-0">Payment Confirmation</h6>
                </div>
                <div class="card-body">
                    <form class="register-form" id="paymentForm" action="/submit_payment" method="post">
                        <fieldset>
                            <div class="form-row">
                                <div class="col-4 col-sm-2 col-md-5">
                                    <div id="lp-select1-wrapper" class="input-group">
                                        <div class="input-group-addon"></div>
                                    </div><label>Date</label><input class="form-control" type="date" name="paymentDate" required="" value="{{today}}">
                                </div>
                                <div class="col-8 col-sm-4 col-md-7">
                                    <div id="lp-telnumber-wrapper"></div>
                                </div>
                                <div class="col-6 col-sm-6 col-md-6">
                                    <div id="lp-name-wrapper"><label>Customer&nbsp;</label><select class="form-control" id="unpaidCustomer" name="unpaidCustomer" required="">
                                            {{#each unpaidCustomerArr}}
                                                <option value="{{this.customerID}}">{{this.customerName}}</option>
                                            {{/each}}
                                        </select></div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-12">
                                    <div id="lp-mail-wrapper" style="margin-top: 10px;"><label>Unpaid Orders</label>
                                        <div class="table-responsive">
                                            <table class="table table-striped table-sm" id="unpaidOrderTable">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center">To Pay</th>
                                                        <th>Delivery Receipt</th>
                                                        <th>Product</th>
                                                        <th>Qty</th>
                                                        <th class="text-right">Amount Due</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {{#each unpaidCustomerArr.[0].orderDetails}}
                                                        <tr>
                                                            <!-- <td style="font-weight: bold;"><input type="text" readonly class="regular-input" value="{{this.deliveryReceipt}}" name="" style="background-color: inherit !important; border: none !important;"></td> -->

                                                            <td class="text-center"><input type="checkbox" class="checkbox_payment" value="{{this.totalAmt}}" id="{{@index}}" onclick="checkbox_add()"></td>
                                                            <td style="font-weight: bold;"><input type="text" readonly class="regular-input" value="{{this.deliveryReceipt}}" name=""></td>

                                                            <td>{{this.productName}}</td>
                                                            <td>{{this.qty}}</td>
                                                            <td class="text-right">Php {{this.totalAmt}}</td>
                                                        </tr>
                                                    {{/each}}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 col-sm-2 col-md-5"><label>Payment Terms</label><select class="form-control" id="paymentType" name="paymentType" required="" style="width: 150px !important;">
                                        <option value="Cash">Cash</option>
                                        <option value="Check">Check</option>
                                    </select></div>
                                <div class="col-4 col-sm-2 col-md-5 col-xl-7 d-flex flex-column"><label>Check No.</label>
                                    <div class="d-flex">
                                        <select class="form-control d-flex float-left" id="bankID" name="bankID" disabled style="width: 80px !important;">
                                            <option value="MTB">MTB</option>
                                            <option value="BDO">BDO</option>
                                            <option value="BPI">BPI</option>
                                        </select>
                                        <input class="form-control d-flex float-left"  type="text" id="checkNo" name="checkNo" disabled placeholder="Check no." style="height: 30.8px !important; width: 70%;">
                                    </div>
                                </div>
                                <div class="col-4 col-sm-2 col-md-5 col-xl-7 offset-xl-5 d-flex flex-column"><label>Amount Paid</label>
                                    <div class="d-flex"><input class="form-control d-flex float-left align-items-xl-center" type="text" id="amountPaid" name="amountPaid" placeholder="Amount " required>
                                        <h6 class="d-xl-flex align-items-xl-center" style="padding: 6px 12px;">pesos</h6>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-12">
                                    <div id="lp-title-wrapper"></div><button form="paymentForm" disabled id="paymentSubmit" class="btn btn-primary float-right" type="submit">Submit</button>
                                </div>
                                <div class="col-12 col-sm-6 col-md-12">
                                    <div id="lp-check1-wrapper"></div>
                                </div>
                                <div class="col-md-12"><input class="form-control d-none" type="text" id="lp-country"><input class="form-control d-none" type="text" id="lp-website"><input class="form-control d-none" type="text" id="lp-city"><input class="form-control d-none" type="text" id="customfield10"><input class="form-control d-none" type="text" id="customfield9"><input class="form-control d-none" type="text" id="customfield8"><input class="form-control d-none" type="text" id="customfield7"><input class="form-control d-none" type="text" id="customfield6"><input class="form-control d-none" type="text" id="customfield5"><input class="form-control d-none" type="text" id="customfield4"><input class="form-control d-none" type="text" id="customfield3"><input class="form-control d-none" type="text" id="customfield2"><input class="form-control d-none" type="text" id="lp-select3"><input class="form-control d-none" type="text" id="lp-select2"><input class="form-control d-none" type="text" id="lp-check5"><input class="form-control d-none" type="text" id="lp-check4"><input class="form-control d-none" type="text" id="lp-check3"><input class="form-control d-none" type="text" id="lp-check2"><input class="form-control d-none" type="text" id="lp-telareacode"><input class="form-control d-none" type="text" id="lp-telcountrycode"></div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var tab = 'paymentsTable';
    var groupedUnpaid = {{{groupedUnpaidOrder}}};
</script>

<script src="../assets/js/formFormatter.js"></script>