<div class="container-fluid">
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0" style="color: rgb(0,0,0);">Purchase Records&nbsp;</h3>
    </div>
    <div class="row">
        <div class="col" style="height: 600px;background: rgba(233,235,237,0);margin-top: -20px;">
        {{#if dialog_error_msg}}
            <div class="popup-dialog-msg error shadow">
                <div class="d-flex w-100 mt-2">
                    <div class="ml-auto mr-2">
                        <button type="button" class="btn-transparent" onclick="$(this).parent().parent().parent().remove();"><span style="padding: 0rem !important; margin: 0px !important; color: gray;" class="material-icons">close</span></button>
                    </div>

                </div>
                <div class="mx-3 mb-3">
                    <h6 class=""><strong>{{{dialog_error_msg}}}</strong></h6>
                </div>
            </div>
        {{/if}}

        {{#if dialog_success_msg }}
            <div class="popup-dialog-msg success shadow">
                <div class="d-flex w-100 mt-2">
                    <div class="ml-auto mr-2">
                        <button type="button" class="btn-transparent" onclick="$(this).parent().parent().parent().remove();"><span style="padding: 0rem !important; margin: 0px !important; color: gray;" class="material-icons">close</span></button>
                    </div>

                </div>
                <div class="mx-3 mb-3">
                    <h6 class=""><strong>{{{dialog_success_msg}}}</strong></h6>
                </div>
            </div>
        {{/if}}
            <form>
                <section></section>
            </form>
            <div class="card">
                <div class="card-header"><i class="fa fa-print float-right" style="font-size: 22px;color: rgb(0,0,0);"></i>
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item"><a class="nav-link active" href="#" style="font-weight: bold;">Load Number: {{purchaseRecord.supplier_lo}}</a></li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th style="width: 1px;">Date Scheduled</th>
                                    <th style="width: 50px;"><span style="font-size: 1.2rem; font-weight: bold">{{purchaseRecord.formattedDate}}</span><!-- <input type="date" required="" readonly="" value="{{purchaseRecord.formattedDate}}"> --></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td style="font-weight: bold;">Customer Information</td>
                                    <td style="width: 50px;"></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: normal;">SO Number</td>
                                    <td><span style="font-size: 1.2rem; font-weight: bold">{{purchaseRecord.supplier_so}}</span><!-- <input type="text" required="" readonly="" value="{{purchaseRecord.supplier_so}}"> --></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: normal;">DR Number</td>
                                    <td><span style="font-size: 1.2rem; font-weight: bold">{{purchaseRecord.supplier_dr}}</span><!-- <input type="text" required="" readonly="" value="{{purchaseRecord.supplier_dr}}"> --></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold;"></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold;">Order Details</td>
                                    <td style="width: 0px;"></td>
                                    <td style="width: 0px;font-weight: bold;">Delivery Information</td>
                                    <td style="width: 0px;"></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: normal;">Product<br></td>
                                    <td style="width: 100px;"><span style="font-size: 1.2rem; font-weight: bold">{{purchaseRecord.product_name}}</span><!-- <select style="height: 28px;padding-top: 3px;padding-bottom: 3px;font-size: 12px;width: 150px;" required="" readonly="">
                                            <option value="12" selected="">{{purchaseRecord.product_name}}</option>
                                        </select> --></td>
                                    <td style="width: 100px;">Truck Plate Number</td>
                                    <td style="width: 100px;"><span style="font-size: 1.2rem; font-weight: bold">{{purchaseRecord.newPlate}}</span><!-- <select style="height: 28px;padding-top: 3px;padding-bottom: 3px;font-size: 12px;width: 150px;" required="" readonly="">
                                        <option value="" selected>{{purchaseRecord.newPlate}}</option>
                                    </select> --></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: normal;">Product Price<br></td>
                                    <td style="width: 100px;"><span style="font-size: 1.2rem; font-weight: bold">{{purchaseRecord.pricePiece}}</span><input class="form-control-plaintext d-inline-flex align-items-xl-center" type="text" value="Php" readonly="" style="margin-left: 10px;width: 50px;"></td>
                                    <td style="width: 100px;">Driver</td>
                                    <td style="width: 100px;"><span style="font-size: 1.2rem; font-weight: bold">{{purchaseRecord.driverName}}</span><!-- <select style="height: 28px;padding-top: 3px;padding-bottom: 3px;font-size: 12px;width: 150px;" required="" readonly="">
                                        <option selected="" value="">{{purchaseRecord.driverName}}</option>
                                    </select> --></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: normal;">Quantity</td>
                                    <td style="width: 100px;"><span style="font-size: 1.2rem; font-weight: bold">{{purchaseRecord.qty}}</span><!-- <input type="text" required="" readonly="" value="{{purchaseRecord.qty}}"> --><input class="form-control-plaintext d-inline-flex" type="text" value="bag/s" readonly="" style="margin-left: 10px;width: 42px;"></td>
                                    <td style="width: 100px;">Time Out</td>
                                    <td style="width: 100px;"><span style="font-size: 1.2rem; font-weight: bold">{{purchaseRecord.newTimeOut}}</span><!-- <input type="text" required="" readonly="" value="{{purchaseRecord.newTimeOut}}"> --></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: normal;">Total Amount</td>
                                    <td style="width: 100px;"><span style="font-size: 1.2rem; font-weight: bold">{{purchaseRecord.formattedAmount}}</span><input class="form-control-plaintext d-inline-flex align-items-xl-center" type="text" value="Php" readonly="" style="margin-left: 10px;width: 50px;"></td>
                                    <td style="width: 100px;"></td>
                                    <td style="width: 100px;"></td>
                                </tr>
                                <tr></tr>
                            </tbody>
                        </table>
                    </div><a class="btn btn-primary active text-center float-right d-xl-flex justify-content-xl-end align-items-xl-start" role="button" href="javascript:history.back()">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>