{{#compareTwoValues purchaseRecord.status 'Pending' operator="==="}}
<div>
    <div class="modal fade" role="dialog" tabindex="-1" id="voidModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="height: 50px;">
                    <h4>Cancel Purchase Order</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <p class="text-left text-muted" style="margin-bottom: 20px;">Enter admin password to continue</p>
                    <form action="/void_purchases/{{purchaseRecord.supplier_lo}}" method="post" id="voidForm">
                        <div class="form-row w-100">
                            <div class="col">
                                <form class="register-form w-100">
                                    <fieldset>
                                        <div class="form-row">
                                            <div class="w-100">
                                                <div id="lp-name-wrapper">
                                                    <h5 class="text-left" style="font-weight: bold;">Password</h5><input class="form-control" type="password" id="voidPassword" name="voidPassword" placeholder="Password..." required>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer"><button class="btn btn-light" data-dismiss="modal" type="button">Close</button><button class="btn btn-primary" type="submit" form="voidForm">Confirm</button></div>
            </div>
        </div>
    </div>
</div>
{{/compareTwoValues}}

<div class="container-fluid">
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0" style="color: rgb(0,0,0);">Purchase Records&nbsp;</h3>
    </div>
    <div class="row">
        <div class="col" style="height: 600px;background: rgba(233,235,237,0);margin-top: -20px;">
        {{#if dialog_error_msg}}
            <div class="popup-dialog-msg error shadow">
                <div class="d-flex w-100 mt-2">
                    <div class="ml-auto mr-2">
                        <button type="button" class="btn-transparent" onclick="$(this).parent().parent().parent().remove();"><span style="padding: 0rem !important; margin: 0px !important; color: gray;" class="material-icons">close</span></button>
                    </div>

                </div>
                <div class="mx-3 mb-3">
                    <h6 class=""><strong>{{{dialog_error_msg}}}</strong></h6>
                </div>
            </div>
        {{/if}}

        {{#if dialog_success_msg }}
            <div class="popup-dialog-msg success shadow">
                <div class="d-flex w-100 mt-2">
                    <div class="ml-auto mr-2">
                        <button type="button" class="btn-transparent" onclick="$(this).parent().parent().parent().remove();"><span style="padding: 0rem !important; margin: 0px !important; color: gray;" class="material-icons">close</span></button>
                    </div>

                </div>
                <div class="mx-3 mb-3">
                    <h6 class=""><strong>{{{dialog_success_msg}}}</strong></h6>
                </div>
            </div>
        {{/if}}
            <form>
                <section></section>
            </form>
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-print float-right" style="font-size: 22px;color: rgb(0,0,0);cursor: pointer;"></i>
                    {{#compareTwoValues purchaseRecord.status 'Pending' operator="==="}}
                    <i class="fa fa-archive float-right" style="font-size: 22px;color: rgb(0,0,0);margin-right: 15px; cursor: pointer;" data-toggle="modal" data-target="#voidModal"></i>
                    {{/compareTwoValues}}
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#" style="font-weight: bold;"><span class="mr-2" style="color: inherit !important">Load Number: {{purchaseRecord.supplier_lo}}</span>
                            {{#compareTwoValues purchaseRecord.status 'Pending' operator="==="}}
                            <i class="fa fa-circle Pending" style="font-size: 16px;"></i>
                            {{/compareTwoValues}}
                            {{#compareTwoValues purchaseRecord.status 'Processing' operator="==="}}
                            <i class="fa fa-circle Processing" style="font-size: 16px;"></i>
                            {{/compareTwoValues}}
                            {{#compareTwoValues purchaseRecord.status 'Completed' operator="==="}}
                            <i class="fa fa-circle text-success" style="font-size: 16px;"></i>
                            {{/compareTwoValues}}
                            </a>
                        </li>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th style="width: 1px;">Date Scheduled</th>
                                    <th style="width: 50px;"><span style="font-size: 1.2rem; font-weight: normal">{{purchaseRecord.formattedDate}}</span><!-- <input type="date" required="" readonly="" value="{{purchaseRecord.formattedDate}}"> --></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td style="font-weight: bold;">Customer Information</td>
                                    <td style="width: 50px;"></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: normal;">SO Number</td>
                                    <td><span style="font-size: 1.2rem; font-weight: normal">{{purchaseRecord.supplier_so}}</span><!-- <input type="text" required="" readonly="" value="{{purchaseRecord.supplier_so}}"> --></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: normal;">DR Number</td>
                                    <td><span style="font-size: 1.2rem; font-weight: normal">{{purchaseRecord.supplier_dr}}</span><!-- <input type="text" required="" readonly="" value="{{purchaseRecord.supplier_dr}}"> --></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: normal;"></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold;">Order Details</td>
                                    <td style="width: 0px;"></td>
                                    <td style="width: 0px;font-weight: normal;">Delivery Information</td>
                                    <td style="width: 0px;"></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: normal;">Product<br></td>
                                    <td style="width: 100px;"><span style="font-size: 1.2rem; font-weight: normal">{{purchaseRecord.product_name}}</span><!-- <select style="height: 28px;padding-top: 3px;padding-bottom: 3px;font-size: 12px;width: 150px;" required="" readonly="">
                                            <option value="12" selected="">{{purchaseRecord.product_name}}</option>
                                        </select> --></td>
                                    <td style="width: 100px;">Truck Plate Number</td>
                                    <td style="width: 100px;"><span style="font-size: 1.2rem; font-weight: normal">{{purchaseRecord.newPlate}}</span><!-- <select style="height: 28px;padding-top: 3px;padding-bottom: 3px;font-size: 12px;width: 150px;" required="" readonly="">
                                        <option value="" selected>{{purchaseRecord.newPlate}}</option>
                                    </select> --></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: normal;">Product Price<br></td>
                                    <td style="width: 100px;"><span style="font-size: 1.2rem; font-weight: normal">{{purchaseRecord.pricePiece}}</span><input class="form-control-plaintext d-inline-flex align-items-xl-center" type="text" value="Php" readonly="" style="margin-left: 10px;width: 50px;"></td>
                                    <td style="width: 100px;">Driver</td>
                                    <td style="width: 100px;"><span style="font-size: 1.2rem; font-weight: normal">{{purchaseRecord.driverName}}</span><!-- <select style="height: 28px;padding-top: 3px;padding-bottom: 3px;font-size: 12px;width: 150px;" required="" readonly="">
                                        <option selected="" value="">{{purchaseRecord.driverName}}</option>
                                    </select> --></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: normal;">Quantity</td>
                                    <td style="width: 100px;"><span style="font-size: 1.2rem; font-weight: normal">{{purchaseRecord.qty}}</span><!-- <input type="text" required="" readonly="" value="{{purchaseRecord.qty}}"> --><input class="form-control-plaintext d-inline-flex" type="text" value="bag/s" readonly="" style="margin-left: 10px;width: 42px;"></td>
                                    <td style="width: 100px;">Time Out</td>
                                    <td style="width: 100px;"><span style="font-size: 1.2rem; font-weight: normal">{{purchaseRecord.newTimeOut}}</span><!-- <input type="text" required="" readonly="" value="{{purchaseRecord.newTimeOut}}"> --></td>
                                </tr>
                                <tr>
                                    <td style="font-weight: normal;">Total Amount</td>
                                    <td style="width: 100px;"><span style="font-size: 1.2rem; font-weight: normal">{{purchaseRecord.formattedAmount}}</span><input class="form-control-plaintext d-inline-flex align-items-xl-center" type="text" value="Php" readonly="" style="margin-left: 10px;width: 50px;"></td>
                                    <td style="width: 100px;"></td>
                                    <td style="width: 100px;"></td>
                                </tr>
                                <tr></tr>
                            </tbody>
                        </table>
                    </div><a class="btn btn-primary active text-center float-right d-xl-flex justify-content-xl-end align-items-xl-start" role="button" href="javascript:history.back()">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>