{{#compareTwoValues sale_record.status 'Pending' operator="==="}}
<div>
    <div class="modal fade" role="dialog" tabindex="-1" id="voidModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="height: 50px;">
                    <h4>Cancel Sale Order</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <p class="text-left text-muted" style="margin-bottom: 20px;">Enter admin password to continue</p>
                    <form action="/void_sales/{{sale_record.delivery_receipt}}" method="post" id="voidForm">
                        <div class="form-row w-100">
                            <div class="col">
                                <form class="register-form w-100">
                                    <fieldset>
                                        <div class="form-row">
                                            <div class="w-100">
                                                <div id="lp-name-wrapper">
                                                    <h5 class="text-left" style="font-weight: bold;">Password</h5><input class="form-control" type="password" id="voidPassword" name="voidPassword" placeholder="Password..." required>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer"><button class="btn btn-light" data-dismiss="modal" type="button">Close</button><button class="btn btn-primary" type="submit" form="voidForm">Confirm</button></div>
            </div>
        </div>
    </div>
</div>
{{/compareTwoValues}}

<div class="container-fluid">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h3 class="text-dark mb-0" style="color: rgb(0,0,0);">Sales Records&nbsp;</h3>
                    </div>
                    <div class="row">
                        <div class="col" style="height: 600px;background: rgba(233,235,237,0);margin-top: -20px;">
        {{#if dialog_error_msg}}
            <div class="popup-dialog-msg error shadow dialog-msg">
                <div class="d-flex w-100 mt-2">
                    <div class="ml-auto mr-2">
                        <i class="fa fa-times" aria-hidden="true" style="cursor: pointer;" onclick="$(this).parent().parent().parent().remove();"></i>
                    </div>

                </div>
                <div class="mx-3 mb-3">
                    <h6 class="text-danger"><strong>{{{dialog_error_msg}}}</strong></h6>
                </div>
            </div>
        {{/if}}

        {{#if dialog_success_msg}}
            <div class="popup-dialog-msg success shadow dialog-msg">
                <div class="d-flex w-100 mt-2">
                    <div class="ml-auto mr-2">
                        <i class="fa fa-times" aria-hidden="true" style="cursor: pointer;" onclick="$(this).parent().parent().parent().remove();"></i>
                    </div>

                </div>
                <div class="mx-3 mb-3">
                    <h6 class="text-success"><strong>{{{dialog_success_msg}}}</strong></h6>
                </div>
            </div>
        {{/if}}
                            <form>
                                <section></section>
                            </form>
                            <div class="card">
                                <div class="card-header">
                                    <i class="fa fa-print float-right" style="font-size: 22px;color: rgb(0,0,0); cursor: pointer;"></i>
                                    {{#compareTwoValues sale_record.status 'Pending' operator="==="}}
                                    <i class="fa fa-archive float-right" style="font-size: 22px;color: rgb(0,0,0);margin-right: 15px; cursor: pointer;" data-toggle="modal" data-target="#voidModal"></i>
                                    {{/compareTwoValues}}
                                    <ul class="nav nav-tabs card-header-tabs">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#" style="font-weight: bold;"><span class="mr-2" style="color: inherit !important">DR Number: {{sale_record.delivery_receipt}}</span>
                                            {{#compareTwoValues sale_record.status 'Pending' operator="==="}}
                                            <i class="fa fa-circle Pending" style="font-size: 16px;"></i>
                                            {{/compareTwoValues}}
                                            {{#compareTwoValues sale_record.status 'Processing' operator="==="}}
                                            <i class="fa fa-circle Processing" style="font-size: 16px;"></i>
                                            {{/compareTwoValues}}
                                            {{#compareTwoValues sale_record.status 'Completed' operator="==="}}
                                            <i class="fa fa-circle text-success" style="font-size: 16px;"></i>
                                            {{/compareTwoValues}}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-sm">
                                            <thead>
                                                <tr>
                                                    <th style="width: 1px;">Date Scheduled</th>
                                                    <th style="width: 50px; font-size: 1.2rem">{{sale_record.scheduled_date}}<!-- <input type="date" required="" readonly value="{{sale_record.scheduled_date}}"> --></th>
                                                    <th></th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr></tr>
                                                <tr>
                                                    <td style="font-weight: bold; ">Customer Information</td>
                                                    <td style="width: 50px;"></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td style="font-weight: normal;">Customer</td>
                                                    <td><span style="font-weight: bold; font-size: 1.2rem">{{sale_record.customer_name}}</span><!-- <input type="text" value="{{sale_record.customer_name}}" readonly> --></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td style="font-weight: normal;">Customer Address</td>
                                                    <td><span style="font-weight: bold; font-size: 1.2rem">{{customer_location}}</span><!-- <select style="height: 28px;padding-top: 3px;padding-bottom: 3px;font-size: 12px;width: 200px;" required="" readonly="">
                                                        <option value="{{customer_location}}">{{customer_location}}</option>
                                                    </select> --></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td style="font-weight: bold;"></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td style="font-weight: bold;">Order Details</td>
                                                    <td style="width: 0px;"></td>
                                                    <td style="width: 0px;font-weight: bold;">Payment</td>
                                                    <td style="width: 0px;"></td>
                                                </tr>
                                                <tr>
                                                    <td style="font-weight: normal;">Order Type</td>
                                                    <td style="width: 100px;">
                                                        <div class="custom-control custom-radio"><input type="radio" id="customRadio1" class="custom-control-input" name="customRadio" checked=""><label class="custom-control-label" for="customRadio1" style="font-size: 1.2rem">{{sale_record.order_type}}</label></div>
                                                    </td>
                                                    <td style="width: 100px;">Payment Terms</td>
                                                    <td style="width: 100px;"><span style="font-weight: bold; font-size: 1.2rem">{{sale_record.payment_terms}}</span><!-- <select style="height: 28px;padding-top: 3px;padding-bottom: 3px;font-size: 12px;width: 150px;" required="" readonly="">
                                                            <option value="Cash">{{sale_record.payment_terms}}</option>
                                                        </select> --></td>
                                                </tr>
                                                <tr>
                                                    <td style="font-weight: normal;">Pick-up Plate No.</td>
                                                    <td style="width: 100px;"><span style="font-weight: bold; font-size: 1.2rem">{{sale_record.pickup_plate}}</span><!-- <input type="text" required="" readonly="" value="{{sale_record.pickup_plate}}"> --></td>
                                                    <td style="width: 100px;">Payment Status</td>
                                                    <td style="width: 100px;"><span style="font-weight: bold; font-size: 1.2rem" class="paid">{{sale_record.payment_status}}</span><!-- <select style="height: 28px;padding-top: 3px;padding-bottom: 3px;font-size: 12px;width: 150px;" required="" readonly="">
                                                            <option value="Paid" selected="">{{sale_record.payment_status}}</option>
                                                        </select> --></td>
                                                </tr>
                                                <tr>
                                                    <td style="font-weight: normal;">Product</td>
                                                    <td style="width: 100px;"><span style="font-weight: bold; font-size: 1.2rem">{{sale_record.product_name}}</span><!-- 
                                                        <select style="height: 28px;padding-top: 3px;padding-bottom: 3px;font-size: 12px;width: 150px;" required="" readonly="">
                                                            <option value="{{sale_record.product_name}}" selected="" readonly>{{sale_record.product_name}}</option>
                                                        </select> -->
                                                    </td>
                                                    <td style="width: 100px;">Check No.</td>
                                                    <td style="width: 100px;"><span style="font-weight: bold; font-size: 1.2rem">{{sale_record.check_num}}</span>
                                                        <!-- <input type="text" required="" readonly="" value="{{sale_record.check_num}}"> --></td>
                                                </tr>
                                                <tr>
                                                    <td style="font-weight: normal;">Product Price</td>
                                                    <td style="width: 100px;"><span style="font-weight: bold; font-size: 1.2rem">{{sale_record.price}}</span><span class="ml-2">Php</span></td>
                                                    <td style="width: 100px;"></td>
                                                    <td style="width: 100px;"></td>
                                                </tr>
                                                <tr>
                                                    <td style="font-weight: normal;">Quantity</td>
                                                    <td><span style="font-weight: bold; font-size: 1.2rem">{{sale_record.qty}}</span><span class="ml-2">Bag/s</span></td>
                                                    <td></td>
                                                    <td>
                                                        <div>
                                                            <fieldset></fieldset>
                                                            <fieldset></fieldset>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="font-weight: normal; ">Total Amount</td>
                                                    <td style="font-weight: normal;"><span style="font-weight: bold; font-size: 1.2rem">{{sale_record.total_amt}}</span><span class="ml-2">Php</span></td>
                                                    <td style="font-weight: normal;"></td>
                                                    <td class="d-xl-flex align-items-xl-center">
                                                        <div class="d-xl-flex align-items-xl-start"></div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div><a class="btn btn-primary active text-center float-right d-xl-flex justify-content-xl-end align-items-xl-start" role="button" href="javascript:history.back()">Back</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <style>
                    .paid{
                        color:#4ce600;
                    }
                </style>