<div class="container-fluid">
    <h3 style="color: rgb(90,92,105);">Schedule Delivery</h3>
    <div class="row" style="margin-top: 20px;">
        <div class="col-lg-7 col-xl-8">
            <div class="card shadow mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h6 class="text-primary font-weight-bold m-0">Delivery Form</h6>
                </div>
                <div class="card-body">
                    <div class="card">
                        <div class="card-body" style="border-style: none;">
                            <form action="/schedule_delivery" method="post">
                                <input type="hidden" name="orderStatus" value="Processing">
                                <div class="table-responsive">
                                <table class="table table-sm">
                                    <thead>
                                        <tr>
                                            <th style="width: 1px;">Date Scheduled</th>
                                            <th style="width: 50px;"><input type="date" id="dateScheduled" required="" readonly value=""></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr></tr>
                                        <tr>
                                            <td class="text-nowrap" style="font-weight: bold;">Delivery Details</td>
                                            <td style="width: 50px;"></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight: normal;">Reference Number</td>
                                            <td style="color: rgb(72,72,72);">
                                                <select style="height: 28px;padding-top: 3px;padding-bottom: 3px;font-size: 12px;width: 150px;" required="" id="deliveryReference" name="deliveryReference">
                                                    <option value="" selected disabled>...</option>
                                                    {{#each pendingList}}
                                                    <option value="{{#compareTwoValues this.order_type 'Restock' operator='==='}}LO{{/compareTwoValues}}{{#compareTwoValues this.order_type 'Restock' operator='!='}}DR{{/compareTwoValues}}{{this.purchase_lo}}">
                                                    {{#compareTwoValues this.order_type 'Restock' operator='==='}}
                                                    LO 
                                                    {{/compareTwoValues}}

                                                    {{#compareTwoValues this.order_type 'Restock' operator='!='}}
                                                    DR 
                                                    {{/compareTwoValues}}
                                                    {{this.purchase_lo}}
                                                    </option>
                                                    {{/each}}
                                                </select>
                                            </td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Order Type</td>
                                            <td><span id="deliveryOrderType">N/A</span></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight: normal;">Customer</td>
                                            <td><input type="text" required="" readonly="" id="deliveryCustomer" style="background: rgb(237,237,237);border-width: 1px;"></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight: normal;">Address</td>
                                            <td><input type="text" readonly="" id="deliveryAddress" style="background: rgb(237,237,237);border-width: 1px;"></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight: bold;"></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight: bold;">Order Details</td>
                                            <td style="width: 0px;"></td>
                                            <td style="width: 0px;font-weight: bold;">Truck</td>
                                            <td style="width: 0px;"></td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight: normal;">Product</td>
                                            <td style="width: 100px;">
                                                <select style="height: 28px;padding-top: 3px;padding-bottom: 3px;font-size: 12px;width: 150px;background: rgb(237,237,237);" required="" id="deliveryProduct">
                                                    <option value="">...</option>
                                                    <option value="FCC">FCC</option>
                                                    <option value="RCC">RCC</option>
                                                </select>
                                            </td>
                                            <td style="width: 100px;">Plate Number</td>
                                            <td style="width: 100px;">
                                                <select style="height: 28px;padding-top: 3px;padding-bottom: 3px;font-size: 12px;width: 150px;" required="" id="deliveryTruck" name="deliveryTruck">
                                                    <option value="" selected disabled>...</option>
                                                    {{#each truckList}}
                                                    {{#compareTwoValues this.truck_status 'Available' operator='==='}}
                                                    <option value="{{this.plate_num}}">{{this.plate_num}}</option>
                                                    {{/compareTwoValues}}
                                                    {{/each}}
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight: normal;">Quantity</td>
                                            <td style="border-width: 1px;">
                                                <input type="text" required="" id="deliveryQty" readonly="" style="background: rgb(237,237,237);border-width: 1px;">
                                                <input class="form-control-plaintext d-inline-flex" type="text" value="bag/s" readonly="" style="margin-left: 10px;width: 42px;"></td>
                                            <td>Driver</td>
                                            <td><input style="background-color: none;border: none;" type="text" name="deliveryDriver" id="deliveryDriver" readonly></td>
                                            <input type="hidden" name="deliveryDriverId" id="deliveryDriverId">
                                        </tr>
                                        <tr>
                                            <td style="font-weight: normal;">Total Price</td>
                                            <td style="font-weight: normal;">
                                                <input type="text" id="deliveryTotal" readonly="" style="background: rgb(237,237,237);border-width: 1px;">
                                                <input class="form-control-plaintext d-inline-flex align-items-xl-center" type="text" value="pesos" readonly="" style="margin-left: 10px;width: 50px;"></td>
                                            <td style="font-weight: normal;"></td>
                                            <td class="d-xl-flex align-items-xl-center">
                                                <div class="d-xl-flex align-items-xl-start"></div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <button class="btn btn-primary active text-center float-right d-xl-flex justify-content-xl-end align-items-xl-start" type="submit" >Schedule</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div></div>
        </div>
        <div class="col-lg-5 col-xl-4">
            <div class="card shadow mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h6 class="text-primary font-weight-bold m-0">Pending Deliveries</h6>
                    <input type="hidden" name="getDeliveryInfo" value="">
                </div>
                <div class="card-body">
                    <div class="d-block d-xl-flex justify-content-xl-center align-items-xl-center" style="margin-top: -10px;"><i class="fa fa-circle d-xl-flex" style="color: rgb(224,145,52);"></i><span class="d-xl-flex align-items-xl-center" style="font-size: 14px;color: rgb(3,52,97);margin-left: 5px;">Sales</span><i class="fa fa-circle d-xl-flex" style="color: rgb(54,185,204);margin-left: 10px;"></i><span class="d-xl-flex align-items-xl-center" style="font-size: 14px;color: rgb(3,52,97);margin-left: 5px;">Purchase</span></div>
                    <div class="table-responsive" style="margin-top: 10px;">
                        <table class="table table-sm">
                            <thead>
                                <tr></tr>
                            </thead>
                            <tbody>
                                {{#each pendingDeliveries}}
                                <tr>
                                    <td style="padding: 5px;">
                                        <div name="deliveryCardItem" class="text-center {{#compareTwoValues this.order_type 'Sell-in' operator='==='}}Pending{{/compareTwoValues}}{{#compareTwoValues this.order_type 'Sell-out' operator='==='}}Pending{{/compareTwoValues}}{{#compareTwoValues this.order_type 'Restock' operator='==='}}Processing{{/compareTwoValues}}" style="cursor: pointer;">
                                            <input type="hidden" name="" value="{{this.order_type}}">
                                            
                                            {{#compareTwoValues this.order_type 'Restock' operator='==='}}
                                            <input type="hidden" name="" value="{{this.supplier_lo}}">
                                            {{/compareTwoValues}}
                                            {{#compareTwoValues this.order_type 'Restock' operator='!='}}
                                            <input type="hidden" name="" value="{{this.delivery_receipt}}">
                                            {{/compareTwoValues}}

                                            <p class="text-center status-data"> 
                                            {{#compareTwoValues this.order_type 'Sell-in' operator='==='}}
                                            {{this.customer_name}}
                                            {{/compareTwoValues}}

                                            {{#compareTwoValues this.order_type 'Sell-out' operator='==='}}
                                            {{this.customer_name}}
                                            {{/compareTwoValues}}

                                            {{#compareTwoValues this.order_type 'Restock' operator='==='}}
                                            {{{this.order_type}}}
                                            {{/compareTwoValues}}
                                            </p>
                                            
                                            <p class="text-center status-data" style="font-size: 12px;">
                                            {{#compareTwoValues this.order_type 'Sell-in' operator='==='}}
                                            DR {{this.delivery_receipt}}
                                            {{/compareTwoValues}}

                                            {{#compareTwoValues this.order_type 'Sell-out' operator='==='}}
                                            DR {{this.delivery_receipt}}
                                            {{/compareTwoValues}}

                                            {{#compareTwoValues this.order_type 'Restock' operator='==='}}
                                            LO {{this.supplier_lo}}
                                            {{/compareTwoValues}}
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div>
                <div class="modal fade" role="dialog" tabindex="-1" id="AddTruck">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header" style="height: 50px;">
                                <h4 style="color: rgb(90,92,105);">Add Truck</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            </div>
                            <div class="modal-body">
                                <p class="text-left text-muted" style="margin-bottom: 30px;">Fill out the fields below to add a new truck</p>
                                <form>
                                    <div class="form-row">
                                        <div class="col">
                                            <form class="register-form">
                                                <fieldset>
                                                    <div class="form-row">
                                                        <div class="col-md-12"><input class="form-control d-none" type="text" id="lp-formID" value="vr-campus-tours"><input class="form-control d-none" type="text" id="lp-pathID" value="<?php echo $_GET['path'];?>"></div>
                                                        <div class="col-6 col-sm-6 col-md-6">
                                                            <div id="lp-name-wrapper">
                                                                <h5 class="text-left" style="font-weight: bold;color: rgb(90,92,105);">Truck Plate Number</h5><input class="form-control" type="text" id="lp-name" placeholder="Plate Number" required="">
                                                            </div>
                                                        </div>
                                                        <div class="col-6 col-sm-6 col-md-6">
                                                            <div id="lp-lastname-wrapper">
                                                                <h5 class="text-left" style="font-weight: bold;color: rgb(90,92,105);">Truck Type</h5><input class="form-control" type="text" id="lp-lastname" required="" minlength="3" maxlength="3">
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-sm-6 col-md-12">
                                                            <div id="lp-mail-wrapper"></div>
                                                        </div>
                                                        <div class="col-8 col-sm-4 col-md-7">
                                                            <div id="lp-telnumber-wrapper"></div>
                                                        </div>
                                                        <div class="col-12 col-sm-6 col-md-12">
                                                            <div id="customfield1-wrapper"></div>
                                                        </div>
                                                        <div class="col-12 col-sm-6 col-md-12">
                                                            <div id="lp-title-wrapper"></div>
                                                        </div>
                                                        <div class="col-12 col-sm-6 col-md-12">
                                                            <div id="lp-check1-wrapper"></div>
                                                        </div>
                                                        <div class="col-md-12"><input class="form-control d-none" type="text" id="lp-country"><input class="form-control d-none" type="text" id="lp-website"><input class="form-control d-none" type="text" id="lp-city"><input class="form-control d-none" type="text" id="customfield10"><input class="form-control d-none" type="text" id="customfield9"><input class="form-control d-none" type="text" id="customfield8"><input class="form-control d-none" type="text" id="customfield7"><input class="form-control d-none" type="text" id="customfield6"><input class="form-control d-none" type="text" id="customfield5"><input class="form-control d-none" type="text" id="customfield4"><input class="form-control d-none" type="text" id="customfield3"><input class="form-control d-none" type="text" id="customfield2"><input class="form-control d-none" type="text" id="lp-select3"><input class="form-control d-none" type="text" id="lp-select2"><input class="form-control d-none" type="text" id="lp-check5"><input class="form-control d-none" type="text" id="lp-check4"><input class="form-control d-none" type="text" id="lp-check3"><input class="form-control d-none" type="text" id="lp-check2"><input class="form-control d-none" type="text" id="lp-telareacode"><input class="form-control d-none" type="text" id="lp-telcountrycode"></div>
                                                    </div>
                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer"><button class="btn btn-light" data-dismiss="modal" type="button">Close</button><button class="btn btn-primary" type="button">Save</button></div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="modal fade" role="dialog" tabindex="-1" id="RemoveTruck">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header" style="height: 50px;">
                                <h4 style="color: rgb(90,92,105);">Remove Truck</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            </div>
                            <div class="modal-body">
                                <p class="text-left text-muted" style="margin-bottom: 30px;">Select the truck plate number to remove</p>
                                <form>
                                    <div class="form-row">
                                        <div class="col">
                                            <form class="register-form">
                                                <fieldset>
                                                    <div class="form-row">
                                                        <div class="col-md-12"><input class="form-control d-none" type="text" id="lp-formID-1" value="vr-campus-tours"><input class="form-control d-none" type="text" id="lp-pathID-1" value="<?php echo $_GET['path'];?>"></div>
                                                        <div class="col-6 col-sm-6 col-md-6">
                                                            <div id="lp-name-wrapper-1">
                                                                <h5 class="text-left" style="font-weight: bold;color: rgb(90,92,105);">Truck Plate Number</h5><select class="form-control" style="height: 28px;padding-top: 3px;padding-bottom: 3px;font-size: 12px;width: 100%;">
                                                                    <option value="">POL 4324</option>
                                                                    <option value="">WDS 434</option>
                                                                    <option value="">FDSD 3232</option>
                                                                    <option value="">DNE 345</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-6 col-sm-6 col-md-6">
                                                            <div id="lp-lastname-wrapper-1"></div>
                                                        </div>
                                                        <div class="col-12 col-sm-6 col-md-12">
                                                            <div id="lp-mail-wrapper-1"></div>
                                                        </div>
                                                        <div class="col-8 col-sm-4 col-md-7">
                                                            <div id="lp-telnumber-wrapper-1"></div>
                                                        </div>
                                                        <div class="col-12 col-sm-6 col-md-12">
                                                            <div id="customfield1-wrapper-1"></div>
                                                        </div>
                                                        <div class="col-12 col-sm-6 col-md-12">
                                                            <div id="lp-title-wrapper-1"></div>
                                                        </div>
                                                        <div class="col-12 col-sm-6 col-md-12">
                                                            <div id="lp-check1-wrapper-1"></div>
                                                        </div>
                                                        <div class="col-md-12"><input class="form-control d-none" type="text" id="lp-country-1"><input class="form-control d-none" type="text" id="lp-website-1"><input class="form-control d-none" type="text" id="lp-city-1"><input class="form-control d-none" type="text" id="customfield-1"><input class="form-control d-none" type="text" id="customfield-2"><input class="form-control d-none" type="text" id="customfield-3"><input class="form-control d-none" type="text" id="customfield-4"><input class="form-control d-none" type="text" id="customfield-5"><input class="form-control d-none" type="text" id="customfield-6"><input class="form-control d-none" type="text" id="customfield-7"><input class="form-control d-none" type="text" id="customfield-8"><input class="form-control d-none" type="text" id="customfield-9"><input class="form-control d-none" type="text" id="lp-select-1"><input class="form-control d-none" type="text" id="lp-select-2"><input class="form-control d-none" type="text" id="lp-check-1"><input class="form-control d-none" type="text" id="lp-check-2"><input class="form-control d-none" type="text" id="lp-check-3"><input class="form-control d-none" type="text" id="lp-check-4"><input class="form-control d-none" type="text" id="lp-telareacode-1"><input class="form-control d-none" type="text" id="lp-telcountrycode-1"></div>
                                                    </div>
                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer"><button class="btn btn-light" data-dismiss="modal" type="button">Close</button><button class="btn btn-primary" type="button">Save</button></div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="modal fade" role="dialog" tabindex="-1" id="ChangeAvail">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header" style="height: 50px;">
                                <h4 style="color: rgb(90,92,105);">Change Truck Availability</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            </div>
                            <div class="modal-body">
                                <p class="text-left text-muted" style="margin-bottom: 30px;">Fill out the fields below to change the availability status of a truck.</p>
                                <form>
                                    <div class="form-row">
                                        <div class="col">
                                            <form class="register-form">
                                                <fieldset>
                                                    <div class="form-row">
                                                        <div class="col-md-12"><input class="form-control d-none" type="text" id="lp-formID-2" value="vr-campus-tours"><input class="form-control d-none" type="text" id="lp-pathID-2" value="<?php echo $_GET['path'];?>"></div>
                                                        <div class="col-6 col-sm-6 col-md-6">
                                                            <div id="lp-name-wrapper-2">
                                                                <h5 class="text-left" style="font-weight: bold;color: rgb(90,92,105);">Truck Plate Number</h5><select class="form-control" style="height: 28px;padding-top: 3px;padding-bottom: 3px;font-size: 14px;width: 100%;" required="">
                                                                    <option value="">POL 4324</option>
                                                                    <option value="">WDS 434</option>
                                                                    <option value="">FDSD 3232</option>
                                                                    <option value="">DNE 345</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-6 col-sm-6 col-md-6">
                                                            <div id="lp-lastname-wrapper-2">
                                                                <h5 class="text-left" style="font-weight: bold;color: rgb(90,92,105);">Status</h5>
                                                            </div><select class="form-control" style="height: 28px;padding-top: 3px;padding-bottom: 3px;font-size: 14px;width: 100%;" required="">
                                                                <option value="">Available</option>
                                                                <option value="">Unavailable</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-12 col-sm-6 col-md-12">
                                                            <div id="lp-mail-wrapper-2"></div>
                                                        </div>
                                                        <div class="col-8 col-sm-4 col-md-7">
                                                            <div id="lp-telnumber-wrapper-2"></div>
                                                        </div>
                                                        <div class="col-12 col-sm-6 col-md-12">
                                                            <div id="customfield1-wrapper-2"></div>
                                                        </div>
                                                        <div class="col-12 col-sm-6 col-md-12">
                                                            <div id="lp-title-wrapper-2"></div>
                                                        </div>
                                                        <div class="col-12 col-sm-6 col-md-12">
                                                            <div id="lp-check1-wrapper-2"></div>
                                                        </div>
                                                        <div class="col-md-12"><input class="form-control d-none" type="text" id="lp-country-2"><input class="form-control d-none" type="text" id="lp-website-2"><input class="form-control d-none" type="text" id="lp-city-2"><input class="form-control d-none" type="text" id="customfield-10"><input class="form-control d-none" type="text" id="customfield-11"><input class="form-control d-none" type="text" id="customfield-12"><input class="form-control d-none" type="text" id="customfield-13"><input class="form-control d-none" type="text" id="customfield-14"><input class="form-control d-none" type="text" id="customfield-15"><input class="form-control d-none" type="text" id="customfield-16"><input class="form-control d-none" type="text" id="customfield-17"><input class="form-control d-none" type="text" id="customfield-18"><input class="form-control d-none" type="text" id="lp-select-3"><input class="form-control d-none" type="text" id="lp-select-4"><input class="form-control d-none" type="text" id="lp-check-5"><input class="form-control d-none" type="text" id="lp-check-6"><input class="form-control d-none" type="text" id="lp-check-7"><input class="form-control d-none" type="text" id="lp-check-8"><input class="form-control d-none" type="text" id="lp-telareacode-2"><input class="form-control d-none" type="text" id="lp-telcountrycode-2"></div>
                                                    </div>
                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                </form>
                                <h5 class="text-left" style="font-weight: bold;color: rgb(90,92,105);margin-top: 10px;">Reason</h5><input class="form-control-lg" type="text" required="" style="border-width: 1px;">
                            </div>
                            <div class="modal-footer"><button class="btn btn-light" data-dismiss="modal" type="button">Close</button><button class="btn btn-primary" type="button">Save</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h6 class="text-primary font-weight-bold m-0">Truck Use</h6>
                </div>
                <div class="card-body" style="padding: 10px;">
                    <div class="row table-topper align-items-center">
                        <div class="col-4 text-left" style="margin: 0px;padding: 5px 15px;"></div>
                        <div class="col-4 text-center" style="margin: 0px;padding: 5px 10px;">
                            <h5 style="color: rgb(77,115,229);font-weight: bold;text-align: center;">January 6, 2021</h5>
                        </div>
                        <div class="col"><button class="btn btn-primary float-right btn-sm reset" type="button" style="padding: 5px;margin: 2px;">Reset Filters</button></div>
                        <div class="col-4 text-right" style="margin: 0px;padding: 5px 10px;"><a href="#" data-toggle="modal" data-target="#tablehelpModal"></a></div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div>
                                <table class="table table tablesorter" id="ipi-table">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th class="text-center sorter-false" style="background: rgb(248,249,252);color: rgb(77,115,229);border-width: 0px;border-style: none;">TRUCK</th>
                                            <th class="text-left sorter-false" style="background: rgb(248,249,252);color: rgb(77,115,229);border-width: 0px;border-style: none;padding: 0px .5rem !important;">DRIVER</th>
                                            <th class="text-center sorter-false" style="background: rgb(248,249,252);color: rgb(77,115,229);border-width: 0px;border-style: none;">Delivery count</th>
                                            <th class="text-center sorter-false" style="background: rgb(248,249,252);color: rgb(77,115,229);border-width: 0px;border-style: none;">status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each truckList}}
                                        <tr>
                                            <td class="text-center">{{this.plate_num}}</td>
                                            <td class="text-left">{{this.driver}}</td>
                                            <td class="text-center">{{this.weekly_deliveries}}</td>
                                            <td class="text-center">{{this.truck_status}}</td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var ajaxView = 'scheduleDelivery';
</script>

<script src="../assets/js/ajax.js"></script>